fastapi
uvicorn
watchfiles
pandas
numpy
requests
thefuzz
sentence-transformers
scikit-learn
python-levenshtein
pydantic
faiss-cpu
torch
torchaudio
transformers
librosa
soundfile
accelerate
datasets
pythaitts
watchdog>=3.0.0
